<%= form_with(model: question, local: true) do |f| %>
	<ul>
		<% answers(@question).each do |answer| %>
			<li><%= f.radio_button :response, answer %><%= answer %></li>
		<%end%>
	</ul>
	<%= f.submit %>
<% end %>
