<%= form_with(model: question, local: true) do |f| %>
	<div class='form-group mb-4'>
		<% answers(@question).each do |answer| %>
			<p class="text-left">
				<%= f.radio_button :response, answer, class: 'form-check-input' %><%= answer %>
			</p>
		<%end%>
	</div>
	<%= f.submit "Answer Question", class: 'btn btn-lg btn-primary answer mt-3' %>
<% end %>
