<p id="notice"><%= notice %></p>
<h1>Quizzes</h1>
<ul>
	<% @quizzes.each do |quiz| %>
		<li>
			<%=  link_to "#{quiz.created_at.strftime('%D')}", quiz %> <%= " | Score: #{quiz.score}" %>
		</li>
	<% end %>
</ul>
<br>
<%= button_to 'New Quiz', quizzes_path, method: :post %>
