<p id="notice"><%= notice %></p>

<h1>Quizzes</h1>

<tbody>
  <% @quizzes.each do |quiz| %>
  <%= link_to  "#{quiz.created_at}", quiz %>
  <% end %>
</tbody>

<br>

<%= link_to 'New Quiz', quizzes_path, method: :post %>