<p id="notice"><%= notice %></p>
<p><%= "Congratulations, you scored #{@quiz.score}/10!"%>
	<%= link_to  "Take another Quiz?", quizzes_path, method: :post %>
	<%= link_to  "Return to History?", quizzes_path %>
