@import "~bootstrap/scss/bootstrap";
html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.correct-response {
  color: green;
}

.answer-box {
  background-color: lightgoldenrodyellow;
}
